<!DOCTYPE html>

<html>
    <head>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}"/>
        <title>
            tinymodels
        </title>
    </head>
    <body>
        <h1 class="text-center"> Image classifier </h1>
        <form id='myForm' class="p-3 text-center" action="/", method="post" enctype="multipart/form-data">
            <label for="myInput">Choose a model:</label><br>
            <input type="text" id="myInput" name="myInput" list="myList"><br>
            <datalist id="myList">
                <option value="AlexNet">
                <option value="VGG">
                <option value="ResNet">
                <option value="InceptionV3">
                <option value="EfficientNet">
                <option value="MobileNetV2">
                <option value="DenseNet">
                <option value="ViT">
                <option value="ConvNeXt">
                <option value="GoogleNet"></option>
            </datalist><br>
            <br>
            <label for="imagefile">Choose a file:</label><br>
            <input class="form-control" type="file" name="imagefile"><br>
            <br><br>
            <label for="predict">Click to predict:</label><br>
            <input class="btn btn-primary mt-3" type="submit" value="Predict Image" name="predict"><br><br>
        </form>
        <script>
            window.onload = function() {
                document.getElementById("myForm").reset();
            }
          </script>
    </body>
</html>