h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

img {
    border: 1px solid black;
    display: block;
    margin: auto;
    padding: 5px;
}